In [1]:
# repl -- read, eval, print loop

# Jupyter notebook / Jupyter lab

# Agenda

1. Data structures -- deep dive into basics
    - floats
    - named tuples
    - dictionary variations
2. Functions
    - Function objects
    - Arguments -> parameters
    - Type hints / annotations
    - Scoping 
    - Inner functions
3. Functional programming
    - Comprehensions (list, dict, set)
    - Passing functions as arguments (sorting)
    - `lambda`
4. Modules and packages
    - `import`
    - PyPI
5. Objects
    - Classes
    - Instances
    - Methods
    - Attributes
    - Inheritance
    - Magic methods
    - Properties
    - Descriptors
6. Iterators
    - Making classes iterable
    - Generator functions
    - Generator expressions
7. Decorators
8. Concurrency
    - Threading
    - Processes
    - (a little) `asyncio`

# Jupyter quick intro

In [4]:
x = 10    # enter
y = 30    # enter

print(x + y)  # shift+enter (executes the entire cell)

40

In [6]:
# last line of a cell
# AND an expression that returns a value
# then Jupyter displays the result

x+y

40

In [7]:
10+10
20+20
30+30

60

In [8]:
x

10

# Two modes in Jupyter

- Edit mode - Click in a cell, and type. Press ENTER to do this.  Green outline.  Type Python commands.
- Command mode - Click on left of cell. Press ESC to do this.  Blue outline.  Jupyter accepts these commands.
     - `M` -- Markdown mode, to enter HTML easily
     - `y` -- code mode, to write Python
     - `a` -- add a new cell *ABOVE*
     - `b` -- add a new cell *BELOW*
     - `c` -- copy
     - `v` -- paste
     - `x` -- cut
     - `h` -- help

In [9]:
x = 100
y = x

x = 200
y

100

In [10]:
x = [10, 20, 30]
y = x

x.append(40)
y

[10, 20, 30, 40]

In [11]:
x = None
y = None

In [12]:
type(None)

NoneType

In [13]:
# are x and y equal?
x == y

True

In [15]:
if x == y:    # un-Pythonic
    print('They are the same!')

They are the same!

In [16]:
if x == None:   # un-Pythonic!
    print('x is None!')

x is None!

In [17]:
# there's only one instance of None in all of Python
# we can get an object's unique ID with the "id" function

id(None)

4475125760

In [18]:
id(x)

4475125760

In [19]:
id(y)

4475125760

In [20]:
if id(x) == id(None):
    print('Both are None')

Both are None

In [21]:
# the best way to do this
if x is None:
    print('x is None!')

x is None!

In [22]:
x = 10
y = 10

x == y

True

In [23]:
x is y

True

In [24]:
x = 10000
y = 10000

x == y

True

In [25]:
x is y

False

In [26]:
x = 'abcd'
y = 'abcd'

x == y

True

In [27]:
x is y

True

In [29]:
x = 'abcd' * 10000
y = 'abcd' * 10000

In [30]:
x  == y

True

In [31]:
x is y

False

In [32]:
x = 'a.b'
y = 'a.b'

x == y

True

In [33]:
x is y

False

In [34]:
x = 'hello'

In [35]:
x = None

if x:
    print('True-ish')
else:
    print('False-ish')

False-ish

In [36]:
None == False

False

In [37]:
type(None)

NoneType

In [38]:
type(False)

bool

# Boolean context

Everything in Python is True in boolean context (i.e., after an `if` or a `while`) except for:

- `False`
- `None`
- 0
- Anything empty (`''`, `[]`, `()`, `{}`)

In [40]:
name = input('Enter your name: ').strip()

if name:  # do I have a non-empty string?
    print(f'Hello, {name}!')
else:
    print('Hey!  You did not enter a name!')

Enter your name:
Hey!  You did not enter a name!

# Integers

In [41]:
# What's the biggest int in Python?

import sys

In [42]:
x = 0
sys.getsizeof(x)  # how many BYTES are in this object?

24

In [43]:
x = 1
sys.getsizeof(x)

28

In [46]:
x = 1_000_000_000_000_000_000
sys.getsizeof(x)

32

In [47]:
x = x ** 1000

In [48]:
sys.getsizeof(x)

8000

In [51]:
sys.getsizeof(x)

8000

In [52]:
x = 100
x = x + 1

In [53]:
x

101

In [54]:
s = '123'
int(s)   # get an int from the string s

123

In [55]:
# what if s was in hex?
int(s, 16)  # interpret s as a hex string

291

In [56]:
int(s, 8)  # interpret s as an octal string

83

In [57]:
0x123  # another way to enter hex 123

291

In [59]:
0O123   # We need the 0O, not just 0, before octal

83

In [60]:
0b10111011

187

# Float

In [61]:
x = 10
y = 10.5

In [62]:
type(x)

int

In [63]:
type(y)

float

In [64]:
x + y

20.5

In [65]:
0.1 + 0.2

0.30000000000000004

In [66]:
# Solution 1: use round()
z = 0.1 + 0.2
round(z, 2)

0.3

In [67]:
z == 0.3

False

In [68]:
round(z, 2) == 0.3

True

In [69]:
# Solution 2: use ints, not floats

In [70]:
# Solution 3: BCD (binary coded decimals)
# is slower, and uses more memory... but is accurate

from decimal import Decimal
x = Decimal('0.1')
y = Decimal('0.2')

In [71]:
type(x)

decimal.Decimal

In [72]:
type(y)

decimal.Decimal

In [73]:
x + y

Decimal('0.3')

In [74]:
float(x+y)

0.3

In [79]:
# don't use floats to create your objects of type Decimal!
x = Decimal(0.1)
y = Decimal(0.2)

In [80]:
x

Decimal('0.1000000000000000055511151231257827021181583404541015625')

In [81]:
y

Decimal('0.200000000000000011102230246251565404236316680908203125')

In [82]:
x+y

Decimal('0.3000000000000000166533453694')

# Strings

In Python 3, all strings contain Unicode characters.  Thus, all methods/functions/actions are per *character*, not per *byte*.

In [83]:
s = 'abcdefg'
len(s)

7

In [85]:
s = 'שלום'
len(s)

4

In [86]:
path = 'c:\abcd\efgh\ijkl'
print(path)

c:bcd\efgh\ijkl

In [87]:
# doubled backslashes in strings become single backslashes when printed
path = 'c:\\abcd\\efgh\\ijkl'
print(path)

c:\abcd\efgh\ijkl

In [88]:
# raw strings do this for us automatically
path = r'c:\abcd\efgh\ijkl'
print(path)

c:\abcd\efgh\ijkl

In [89]:
# f-string -- started in Python 3.6

x = 'abcd'
y = 10
z = [10, 20, 30]

print(f'x = {x}, y = {y}, z = {z}')

x = abcd, y = 10, z = [10, 20, 30]

In [91]:
# any expression can be in the {}
x = 10
y = 15

print(f'{x} + {y} = {x+y}')

10 + 15 = 25

In [93]:
# as of Python 3.8
print(f'{x=}')  # prints the expression and its value

x=10

In [94]:
s = 'abcd'
print(f'{len(s)=}')

len(s)=4

# Lists

These are not arrays!  In arrays:

- The length is known at creation time
- All of the items are of the same type

In [96]:
mylist = [10, 20, 30, 40, 50]

In [97]:
len(mylist)

5

In [98]:
mylist.append(60)
mylist.append(70)

len(mylist)

7

In [99]:
mylist = []

for i in range(30):
    print(f'{i=}, {len(mylist)=}, {sys.getsizeof(mylist)=}')
    mylist.append(i)

i=0, len(mylist)=0, sys.getsizeof(mylist)=56
i=1, len(mylist)=1, sys.getsizeof(mylist)=88
i=2, len(mylist)=2, sys.getsizeof(mylist)=88
i=3, len(mylist)=3, sys.getsizeof(mylist)=88
i=4, len(mylist)=4, sys.getsizeof(mylist)=88
i=5, len(mylist)=5, sys.getsizeof(mylist)=120
i=6, len(mylist)=6, sys.getsizeof(mylist)=120
i=7, len(mylist)=7, sys.getsizeof(mylist)=120
i=8, len(mylist)=8, sys.getsizeof(mylist)=120
i=9, len(mylist)=9, sys.getsizeof(mylist)=184
i=10, len(mylist)=10, sys.getsizeof(mylist)=184
i=11, len(mylist)=11, sys.getsizeof(mylist)=184
i=12, len(mylist)=12, sys.getsizeof(mylist)=184
i=13, len(mylist)=13, sys.getsizeof(mylist)=184
i=14, len(mylist)=14, sys.getsizeof(mylist)=184
i=15, len(mylist)=15, sys.getsizeof(mylist)=184
i=16, len(mylist)=16, sys.getsizeof(mylist)=184
i=17, len(mylist)=17, sys.getsizeof(mylist)=248
i=18, len(mylist)=18, sys.getsizeof(mylist)=248
i=19, len(mylist)=19, sys.getsizeof(mylist)=248
i=20, len(mylist)=20, sys.getsizeof(mylist)=248
i=21, len(mylist)=21, sys.getsizeof(mylist)=248
i=22, len(mylist)=22, sys.getsizeof(mylist)=248
i=23, len(mylist)=23, sys.getsizeof(mylist)=248
i=24, len(mylist)=24, sys.getsizeof(mylist)=248
i=25, len(mylist)=25, sys.getsizeof(mylist)=312
i=26, len(mylist)=26, sys.getsizeof(mylist)=312
i=27, len(mylist)=27, sys.getsizeof(mylist)=312
i=28, len(mylist)=28, sys.getsizeof(mylist)=312
i=29, len(mylist)=29, sys.getsizeof(mylist)=312

In [100]:
for i in range(30):
    print(f'{i=}, {len(mylist)=}, {sys.getsizeof(mylist)=}')
    mylist.pop()

i=0, len(mylist)=30, sys.getsizeof(mylist)=312
i=1, len(mylist)=29, sys.getsizeof(mylist)=312
i=2, len(mylist)=28, sys.getsizeof(mylist)=312
i=3, len(mylist)=27, sys.getsizeof(mylist)=312
i=4, len(mylist)=26, sys.getsizeof(mylist)=312
i=5, len(mylist)=25, sys.getsizeof(mylist)=312
i=6, len(mylist)=24, sys.getsizeof(mylist)=312
i=7, len(mylist)=23, sys.getsizeof(mylist)=312
i=8, len(mylist)=22, sys.getsizeof(mylist)=312
i=9, len(mylist)=21, sys.getsizeof(mylist)=312
i=10, len(mylist)=20, sys.getsizeof(mylist)=312
i=11, len(mylist)=19, sys.getsizeof(mylist)=312
i=12, len(mylist)=18, sys.getsizeof(mylist)=312
i=13, len(mylist)=17, sys.getsizeof(mylist)=312
i=14, len(mylist)=16, sys.getsizeof(mylist)=312
i=15, len(mylist)=15, sys.getsizeof(mylist)=216
i=16, len(mylist)=14, sys.getsizeof(mylist)=216
i=17, len(mylist)=13, sys.getsizeof(mylist)=216
i=18, len(mylist)=12, sys.getsizeof(mylist)=216
i=19, len(mylist)=11, sys.getsizeof(mylist)=216
i=20, len(mylist)=10, sys.getsizeof(mylist)=216
i=21, len(mylist)=9, sys.getsizeof(mylist)=184
i=22, len(mylist)=8, sys.getsizeof(mylist)=184
i=23, len(mylist)=7, sys.getsizeof(mylist)=152
i=24, len(mylist)=6, sys.getsizeof(mylist)=152
i=25, len(mylist)=5, sys.getsizeof(mylist)=120
i=26, len(mylist)=4, sys.getsizeof(mylist)=120
i=27, len(mylist)=3, sys.getsizeof(mylist)=120
i=28, len(mylist)=2, sys.getsizeof(mylist)=120
i=29, len(mylist)=1, sys.getsizeof(mylist)=88

In [101]:
mylist = [10, 20, 30]
biglist = [mylist, mylist, mylist]

In [102]:
len(biglist)

3

In [103]:
biglist

[[10, 20, 30], [10, 20, 30], [10, 20, 30]]

In [104]:
mylist.append(40)

In [105]:
mylist

[10, 20, 30, 40]

In [106]:
biglist

[[10, 20, 30, 40], [10, 20, 30, 40], [10, 20, 30, 40]]

In [107]:
mylist[0] = '!'
mylist

['!', 20, 30, 40]

In [108]:
biglist

[['!', 20, 30, 40], ['!', 20, 30, 40], ['!', 20, 30, 40]]

# Tuples

Lists are mutable, and tuples are immutable.  But the *real* reason to use lists is when you have a sequence of the same type, and tuples are for sequences of different types.

Python uses tuples all over, behind the scenes.

In [109]:
t = (10, 20, 30)
type(t)

tuple

In [110]:
t = (10, 20)
type(t)

tuple

In [111]:
t = (10)
type(t)

int

In [112]:
t = ()
type(t)

tuple

In [113]:
# we can also use () for priority in math operations
5 + 6 * 7

47

In [114]:
# how does Python know not to make a tuple here?  No ,
(5 + 6) * 7

77

In [115]:
t = (10,)   # now this is a 1-element tuple
type(t)

tuple

In [116]:
(5 + 6,) * 7

(11, 11, 11, 11, 11, 11, 11)

In [117]:
t = 10, 20, 30, 40, 50
type(t)

tuple

In [118]:
t

(10, 20, 30, 40, 50)

In [119]:
t = ([10, 20, 30],
     [100, 200, 300])

In [120]:
t

([10, 20, 30], [100, 200, 300])

In [121]:
# the list can change, even if the tuple cannot
t[0].append(40)

In [122]:
t

([10, 20, 30, 40], [100, 200, 300])

In [123]:
t[0] += [50, 60, 70]   # __iadd__

TypeError: 'tuple' object does not support item assignment

In [124]:
t

([10, 20, 30, 40, 50, 60, 70], [100, 200, 300])

In [125]:
s = 'abcd'
s += 'efgh'

s

'abcdefgh'

In [126]:
t = (10, 20, 30)
t += (40, 50, 60)

t

(10, 20, 30, 40, 50, 60)

In [127]:
s = 'abcd'
print(f'{id(s)}')
s += 'efgh'
print(f'{id(s)}')

4532385072
4516751216

In [128]:
t = (10, 20, 30)
print(f'{id(t)}')
t += (40, 50, 60)
print(f'{id(t)}')

4532008704
4512613184

In [129]:
mylist = [10, 20, 30]
mylist.append(mylist)

In [130]:
len(mylist)

4

In [131]:
mylist

[10, 20, 30, [...]]

In [132]:
mylist is mylist[-1]

True

In [133]:
mylist = [100, 200, 300]

In [134]:
# don't do this -- we create lots of unnecessary strings
mylist = [[10, 20, 30], 
         [40, 50, 60], 
         [70, 80, 90]]


output = ''

for one_record in mylist:
    output += f'{one_record}\n'

In [135]:
output

'[10, 20, 30]\n[40, 50, 60]\n[70, 80, 90]\n'

In [138]:
# do this, instead!
mylist = [[10, 20, 30], 
         [40, 50, 60], 
         [70, 80, 90]]


output = []

for one_record in mylist:
    output.append(f'{one_record}\n')
    
''.join(output)

'[10, 20, 30]\n[40, 50, 60]\n[70, 80, 90]\n'

In [139]:
name = 'Reuven'

In [140]:
# tuples are our structs/records in Python

p = ('Reuven', 'Lerner', 46)

In [141]:
p[0]

'Reuven'

In [142]:
p[1]

'Lerner'

In [143]:
p[2]

46

In [144]:
# I want tuples because they're efficient
# I don't want tuples because they're hard to read/write

from collections import namedtuple

Person = namedtuple('Person', 'first last shoesize')

In [145]:
p = Person('Reuven', 'Lerner', 46)

In [146]:
p

Person(first='Reuven', last='Lerner', shoesize=46)

In [147]:
p[0]

'Reuven'

In [148]:
p[1]

'Lerner'

In [149]:
p[2]

46

In [150]:
p.first

'Reuven'

In [151]:
p.last

'Lerner'

In [152]:
p.shoesize

46

In [153]:
Person.__bases__

(tuple,)

In [154]:
p.first = 'something else'

AttributeError: can't set attribute

In [156]:
# we can get a new named tuple with _replace

p._replace(first='something else')

Person(first='something else', last='Lerner', shoesize=46)

In [158]:
p._asdict()

{'first': 'Reuven', 'last': 'Lerner', 'shoesize': 46}

# Next up

1. Exercise with `namedtuple`
2. Dictionaries

Resume at 11:45

# Exercise: Bookstore

1. Create a class, `Book`, using `namedtuple`.  Each `Book` will have three fields: `title`, `author`, and `price`.
2. Create a few instances of `Book`, and put them in a list, `inventory`.
3. Ask the user, again and again, what book they want to buy (based on the title).
    - If they give an empty string, then we stop asking, and print the total
    - If they ask for a book that *is* in our inventory, then we print all details, and add the price to the total.
    - If they ask for a book that is *not* in our inventory, then scold them and ask them again.